/WoordenApplicatie/nbproject/private/
/Huffman opdracht/Hufmann/nbproject/private/
/Huffman opdracht/Hufman/nbproject/private/
/Huffman opdracht/Hufman/build/
/Huffman opdracht/Hufman/dist/
/Huffman opdracht/Huffman/nbproject/private/
/Huffman opdracht/Huffman/build/
/Huffman opdracht/Huffman/dist/
/Huffman opdracht/Huffman_With_Gui/nbproject/private/
/Huffman opdracht/Huffman_GUI/nbproject/private/
/Huffman opdracht/Huffman_GUI/build/
/Huffman opdracht/Huffman_GUI/dist/